@page "/about"

<h3>About Inspector</h3>

<p>
    Website: <a href="https://inspectorsoftware.co.uk">https://inspectorsoftware.co.uk</a>
</p>

<p>
    Version: @if (System.IO.File.Exists("Remotely_Server.dll"))
    {
        <span>@System.Diagnostics.FileVersionInfo.GetVersionInfo("Remotely_Server.dll").FileVersion.ToString()</span>
    }
    else
    {
        <span>1.0.0.0</span>
    }

</p>
